@using jritchieBugTracker.Models
@model LoginViewModel

@{
    Layout = null;
    ViewBag.Title = "Log in";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Issue Management app.">
    <meta name="author" content="J.Ritchie">

    <link rel="shortcut icon" href="~/assets/images/favicon.ico">

    <title>Resolve()</title>

    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/core.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/components.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/menu.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/responsive.css" rel="stylesheet" type="text/css" />

    <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet'>

    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="~/assets/js/modernizr.min.js"></script>

</head>

<body>

    <!-- Navigation Bar-->
    <header id="topnav" style="box-shadow:none">
        <div class="topbar-main" style="height:60px">
            <div class="container">

                <!-- LOGO -->
                <div class="topbar-left">
                    <a href="#" class="logo"><span>Resolve<span>()</span></span></a>
                </div>
                <!-- End Logo container-->

            </div>
        </div>
    </header>
    <!-- End Navigation Bar-->


    <div class="wrapper-page">
        <div class="card-box" style="margin-top:120px !important">

            <div class="text-center">
                <a href="index.html" class="logo"><span>Resolve<span>()</span></span></a>
                <h5 class="text-muted m-t-0 font-600">Issue Management</h5>
            </div>
            <hr />
            <div class="text-center">
                <h4 class="text-uppercase font-bold m-b-0">Sign In</h4>
            </div>

            <div class="panel-body">

                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group ">
                            <div class="col-xs-12">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group ">
                            <div class="col-xs-12">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group ">
                            <div class="col-xs-12">
                                <div class="checkbox checkbox-custom">
                                    <input id="checkbox-signup" type="checkbox">
                                    <label for="checkbox-signup">
                                        Remember me
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group text-center m-t-30">
                            <div class="col-xs-12">
                                <button class="btn btn-custom btn-bordred btn-block waves-effect waves-light" type="submit">Log In</button>
                            </div>
                        </div>

                        <div class="form-group m-t-30 m-b-0">
                            <div class="col-sm-12">
                                <a href="@Url.Action("ForgotPassword")" class="text-muted"><i class="fa fa-lock m-r-5"></i> Forgot your password?</a>
                            </div>
                        </div>
                    }
                </section>

            </div>
        </div>
        <!-- end card-box-->

        <div class="row">
            <div class="col-sm-12 text-center">
                <p class="text-muted">Don't have an account? <a href="@Url.Action("Register")" class="text-primary m-l-5"><b>Sign Up</b></a></p>
            </div>
        </div>

    </div>
    <!-- end wrapper page -->

    <!-- Footer -->
    <footer class="footer text-right">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    © 2017 — John Ritchie
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <!-- jQuery  -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/detect.js"></script>
    <script src="~/assets/js/fastclick.js"></script>

    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <script src="~/assets/js/jquery.blockUI.js"></script>
    <script src="~/assets/js/waves.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/jquery.nicescroll.js"></script>
    <script src="~/assets/js/jquery.scrollTo.min.js"></script>

    <!-- App js -->
    <script src="~/assets/js/jquery.core.js"></script>
    <script src="~/assets/js/jquery.app.js"></script>

    <script>
            var resizefunc = [];
    </script>

</body>
</html>
