@model jritchieBugTracker.Models.Helpers.ProjectUserViewModel

@{
    ViewBag.Title = "ProjectUser";
}


<div class="row">
    <div class="col-lg-12">
        <div class="card-box m-t-10" style="padding-bottom:40px">

            <h4 class="header-title m-t-0 m-b-30">Assign User(s) to Project: @Model.AssignProject.Title</h4>

            @using (Html.BeginForm("AssignProjectUser", "Projects", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.AssignProjectId)

                @Html.ListBox("SelectedUsers", Model.Users, new { @class = "multi-select", @id = "my_multi_select3" })
                <input type="submit" value="Assign User(s)" class="btn btn-primary center-block" style="width:140px; margin-top:10px" />
            }

            @using (Html.BeginForm("RemoveAllUsers", "Projects", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.AssignProjectId)

                <input type="submit" value="Remove All Users" class="btn btn-danger center-block"  style="width:140px; margin-top:6px" />
            }

            <hr />

            <div class="col-lg-12" style="text-align:center; margin-bottom:20px">
                @Html.ActionLink("Back to Project List", "Index")
            </div>

        </div>
    </div><!-- end col -->
</div>


@section Scripts {

    <!-- Template's Multi-select -->
    <script type="text/javascript" src="~/assets/plugins/multiselect/js/jquery.multi-select.js"></script>
    <script type="text/javascript" src="~/assets/plugins/jquery-quicksearch/jquery.quicksearch.js"></script>

    <script type="text/javascript">

        jQuery(document).ready(function () {

            //advance multiselect start
            $('#my_multi_select3').multiSelect({
                selectableHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
                selectionHeader: "<input type='text' class='form-control search-input' autocomplete='off' placeholder='search...'>",
                afterInit: function (ms) {
                    var that = this,
                        $selectableSearch = that.$selectableUl.prev(),
                        $selectionSearch = that.$selectionUl.prev(),
                        selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                        selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

                    that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                        .on('keydown', function (e) {
                            if (e.which === 40) {
                                that.$selectableUl.focus();
                                return false;
                            }
                        });

                    that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                        .on('keydown', function (e) {
                            if (e.which == 40) {
                                that.$selectionUl.focus();
                                return false;
                            }
                        });
                },
                afterSelect: function () {
                    this.qs1.cache();
                    this.qs2.cache();
                },
                afterDeselect: function () {
                    this.qs1.cache();
                    this.qs2.cache();
                }
            });

            $('.ms-selectable').prepend("<div style='text-align:center; font-weight:bold'>Available User(s)</div>");
            $('.ms-selection').prepend("<div style='text-align:center; font-weight:bold'>Assigned User(s)</div>");

        });
    </script>
}
