@*@model IEnumerable<jritchieBugTracker.Models.CodeFirst.Project>*@
@model IEnumerable<jritchieBugTracker.Models.Helpers.ProjectUserViewModel>

@{
    ViewBag.Title = "Index";
}

@{ 
    if (ViewBag.IndexType == "All")
    {
        <h2><span style="font-weight:bold">All</span> Projects Index</h2>
    }
    else
    {
        <h2><span style="font-weight:bold">Assigned</span> Projects Index</h2>
    }
}

@{ 
    if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
    {
        <p>
            @Html.ActionLink("Create New Project", "Create")
        </p>
    }
}

<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.Created)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.Updated)
        </th>*@
        <th>
            Name (Title)
            @*@Html.DisplayNameFor(model => model.Title)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignProject.Description)
            @*@Html.DisplayNameFor(model => model.Description)*@
        </th>
        <th>
            Owner
            @*@Html.DisplayNameFor(model => model.Author)*@
        </th>
        <th>
            Users
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.Updated)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.AssignProject.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssignProject.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssignProject.Author)
        </td>
        <td>
            @foreach (var user in item.SelectedUsersName)
            {
                <p>@user</p>
            }
        </td>
        <td>
            @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.AssignProject.Id })
                <span> |</span>
            }

            @Html.ActionLink("Details", "Details", new { id = item.AssignProject.Id })

            @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
            {
                <span> |</span>
                @Html.ActionLink("Assign Project User(s)", "AssignProjectUser", new { id = item.AssignProject.Id })

            }
            @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
        </td>
    </tr>
}

</table>
