@model jritchieBugTracker.Models.Helpers.AdminUserViewModel

@{
    ViewBag.Title = "Edit User Roles";
}

<h2>Edit User Roles</h2>
<hr />

@using (Html.BeginForm("EditUserRoles", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.User.Id)

    <h4>
        User's name: 
        @Html.DisplayFor(model => model.User.Fullname)
    </h4>
    
    @Html.ListBox("SelectedRoles", Model.Roles, new { @class = "multi-select"} )
    @*@Html.ListBox("SelectedRoles", Model.Roles)*@
    <input type="submit" value="Assign Roles" class="btn btn-primary pull-right" />
    @*<input type="submit" value="Assign Roles" class="btn btn-primary pull-right" style="margin-top: 10px" />*@
}


@using (Html.BeginForm("RemoveAllUserRoles", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.User.Id)

    <input type="submit" value="Remove All Roles" class="btn btn-danger pull-right" />
    @*<input type="submit" value="Remove All Roles" class="btn btn-danger pull-right" style="margin-top: 60px" />*@
}

<hr />

<div style="margin-top: 40px">
    @Html.ActionLink("Back to Users List", "Index")
</div>


@section Scripts {
    <script src="~/Assets/multi-select/multiselect.js"></script>
    <script type="text/javascript">
        /* Multiselect inputs */
        $(function () { "use strict";
            $('.multi-select').multiSelect({
                selectableHeader: "<div style='text-align:center; background-color:black; color:white'><strong>Available Roles</strong></div>",
                selectionHeader: "<div style='text-align:center; background-color:black; color:white'><strong>User Roles</strong></div>"
            });

            $(".ms-container").append('<i class="material-icons" style="font-size:50px; text-align:center; margin:80px 0px 0px 20px">swap_horiz</i>');
            //$(".ms-container").append('<i class="glyph-icon icon-exchange"></i>');
        });
    </script>
}
