@model jritchieBugTracker.Models.Helpers.DashboardViewModel

@{
    ViewBag.Title = "Dashboard (Home Index)";
}


<div class="wrapper" style="padding-top:50px">
    <div class="container">

        <div class="row">

            <div class="col-lg-4">
                <div class="card-box">
                    <div class="row">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                            <!-- Assigned Projects -->
                            <div class="panel panel-default bx-shadow-none">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <p class="panel-title" style="font-weight:500">
                                        <a class="collapsed waves-effect waves-block" role="button" data-toggle="collapse"
                                           data-parent="#accordion" href="#collapseOne"
                                           aria-expanded="false" aria-controls="collapseOne">
                                            @if (Model.AssignedProjects.Count != 0)
                                            {
                                                if (Model.AssignedProjects.Count == 1)
                                                {
                                                    @Model.AssignedProjects.Count<span> Assigned Project</span>
                                                }
                                                else
                                                {
                                                    @Model.AssignedProjects.Count<span> Assigned Projects</span>
                                                }
                                            }
                                            else
                                            {
                                                <span>No Projects have been Assigned</span>
                                            }
                                        </a>
                                    </p>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse"
                                     role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="inbox-widget nicescroll" style="height: 315px;">
                                                @foreach (var project in Model.AssignedProjects)
                                                {
                                                    <div class="inbox-item">
                                                        <p><span style="font-weight:bold">Name: </span>@project.Title</p>
                                                        <p style="margin-top:0px"><span style="font-weight:bold">Description: </span>@project.Description</p>
                                                        <p>
                                                            @{
                                                                int TotalDevTickets = project.Tickets.Where(t => t.AssignToUserId == Model.CurrentUser.Id).Count();
                                                                int TotalSubTickets = project.Tickets.Where(t => t.OwnerUserId == Model.CurrentUser.Id).Count();
                                                                int TotalAssignedTickets = TotalDevTickets + TotalSubTickets;
                                                                <span style="font-weight:bold">Total tickets: </span><span>@TotalAssignedTickets (Submitter: @TotalSubTickets, Developer: @TotalDevTickets)</span>
                                                            }
                                                        </p>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- All Projects -->
                            @{
                                if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                                {
                                    <div class="panel panel-default bx-shadow-none">
                                        <div class="panel-heading" role="tab" id="headingTwo">
                                            <p class="panel-title" style="font-weight:500">
                                                <a class="collapsed waves-effect waves-block" role="button" data-toggle="collapse"
                                                   data-parent="#accordion" href="#collapseTwo"
                                                   aria-expanded="false" aria-controls="collapseTwo">
                                                    @if (Model.Projects.Count != 0)
                                                    {
                                                        if (Model.Projects.Count == 1)
                                                        {
                                                            @Model.Projects.Count<span> Project</span>
                                                        }
                                                        else
                                                        {
                                                            @Model.Projects.Count<span> total Projects</span>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <span>No Projects exist</span>
                                                    }
                                                </a>
                                            </p>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse"
                                             role="tabpanel" aria-labelledby="headingTwo">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="inbox-widget nicescroll" style="height: 315px;">
                                                        @foreach (var project in Model.Projects)
                                                        {
                                                            <div class="inbox-item">
                                                                <p><span style="font-weight:bold">Name: </span>@project.Title</p>
                                                                <p style="margin-top:0px"><span style="font-weight:bold">Description: </span>@project.Description</p>
                                                                <p><span style="font-weight:bold">Total tickets: </span>@project.Tickets.Count</p>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>  <!-- end of Projects col -->


            <div class="col-lg-4">
                <div class="card-box">
                    @{
                        if (User.IsInRole("Admin"))
                        {
                            <h4 class="header-title m-t-0 m-b-30"> Status: All Tickets </h4>
                        }
                        else if (User.IsInRole("ProjectManager"))
                        {
                            <h4 class="header-title m-t-0 m-b-30"> Status: All Tickets on Assigned Projects </h4>
                        }
                        else
                        {
                            <h4 class="header-title m-t-0 m-b-30"> Status: Tickets on Assigned Projects </h4>
                        }
                    }
                    <div id="donut-ticketStatus" style="height: 150px;"></div>

                    <div class="text-center">
                        <ul class="list-inline chart-detail-list">
                            <li>
                                <span class="label label-purple">Assigned</span>
                            </li>
                            <li>
                                <span class="label label-info">In Progress</span>
                            </li>
                        </ul>
                    </div>

                    <div class="text-center">
                        <ul class="list-inline chart-detail-list">
                            <li>
                                <span class="label label-pink">Unassigned</span>
                            </li>
                            <li>
                                <span class="label label-success">Resolved</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- end of Ticket Status col-->


            <div class="col-lg-4">
                <div class="card-box">
                    @{
                        if (User.IsInRole("Admin"))
                        {
                            <h4 class="header-title m-t-0 m-b-30"> Priority: All Tickets </h4>
                        }
                        else if (User.IsInRole("ProjectManager"))
                        {
                            <h4 class="header-title m-t-0 m-b-30"> Priority: All Tickets on Assigned Projects </h4>
                        }
                        else
                        {
                            <h4 class="header-title m-t-0 m-b-30"> Priority: Tickets on Assigned Projects </h4>
                        }
                    }
                    <div id="donut-ticketPriority" style="height: 150px;"></div>

                    <div class="text-center">
                        <ul class="list-inline chart-detail-list">
                            <li>
                                <span class="label label-medium">Medium</span>
                            </li>
                            <li>
                                <span class="label label-high">High</span>
                            </li>
                        </ul>
                    </div>

                    <div class="text-center">
                        <ul class="list-inline chart-detail-list">
                            <li>
                                <span class="label label-low">Low</span>
                            </li>
                            <li>
                                <span class="label label-urgent">Urgent</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- end of Ticket Priority col-->

        </div><!-- end of row -->

    </div>
</div>

@section scripts{
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="http://cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>
    <script>
        Morris.Donut({
            element: 'donut-ticketStatus',
            data: [
                { label: "Resolved", value: @Model.Tickets.Where(t => t.TicketStatus.Name == "Resolved").Count() },
                { label: "In Progress", value: @Model.Tickets.Where(t => t.TicketStatus.Name == "In Progress").Count() },
                { label: "Assigned", value: @Model.Tickets.Where(t => t.TicketStatus.Name == "Assigned").Count() },
                { label: "Unassigned", value: @Model.Tickets.Where(t => t.TicketStatus.Name == "Unassigned").Count() },
            ],
            colors: ["#10c469", "#35b8e0", "#5b69bc", "#ff8acc"]
        });
    </script>

    <script>
        Morris.Donut({
            element: 'donut-ticketPriority',
            data: [
                { label: "Urgent", value: @Model.Tickets.Where(t => t.TicketPriority.Name == "Urgent").Count() },
                { label: "High", value: @Model.Tickets.Where(t => t.TicketPriority.Name == "High").Count() },
                { label: "Medium", value: @Model.Tickets.Where(t => t.TicketPriority.Name == "Medium").Count() },
                { label: "Low", value: @Model.Tickets.Where(t => t.TicketPriority.Name == "Low").Count() },
            ],
            colors: ["#ff0000", "#ff8000", "#ffff00", "#40ff00"]
        });
    </script>

}