@model jritchieBugTracker.Models.CodeFirst.Ticket

@{
    ViewBag.Title = "Ticket Details";
}


<div class="container">

    <div class="row" style="margin-top:10px">
        <div class="col-sm-12">
            <div class="card-box table-responsive">

                <h4 class="header-title m-t-0 m-b-30">Ticket Details</h4>

                <div class="row">
                    <dl class="dl-horizontal">
                        <dt>
                            Ticket Name
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Title)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Created)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Created)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Updated)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Updated)
                        </dd>

                        <dt>
                            Ticket Description
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>

                        <dt>
                            Project Name
                            @*@Html.DisplayNameFor(model => model.Project.Title)*@
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Project.Title)
                        </dd>

                        <dt>
                            Priority
                            @*@Html.DisplayNameFor(model => model.TicketPriority.Name)*@
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.TicketPriority.Name)
                        </dd>

                        <dt>
                            Status
                            @*@Html.DisplayNameFor(model => model.TicketStatus.Name)*@
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.TicketStatus.Name)
                        </dd>

                        <dt>
                            Type
                            @*@Html.DisplayNameFor(model => model.TicketType.Name)*@
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.TicketType.Name)
                        </dd>

                        <dt>
                            Ticket Owner
                            @*@Html.DisplayNameFor(model => model.OwnerUser.Fullname)*@
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.OwnerUser.Fullname)
                        </dd>

                        <dt>
                            Assigned Developer
                            @*@Html.DisplayNameFor(model => model.AssignToUser.Fullname)*@
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.AssignToUser.Fullname)
                        </dd>
                    </dl>
                </div>

                <div class="row">
                    <div class="col-md-12" style="align-content:center">
                        <p>
                            @Html.ActionLink("Edit Ticket", "Edit", new { id = Model.Id }) |
                            @Html.ActionLink("Return to Tickets", "Index")
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Ticket Additional Information begins here -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card-box table-responsive">

                @*<div class="dropdown pull-right">
                        <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>*@

                <h4 class="header-title m-t-0 m-b-30">Additional Information</h4>

                <div class="row">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                        <!-- Comments -->
                        <div class="panel panel-default bx-shadow-none">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <p class="panel-title" style="font-weight:500">
                                    <a class="collapsed" role="button" data-toggle="collapse"
                                       data-parent="#accordion" href="#collapseOne"
                                       aria-expanded="false" aria-controls="collapseOne">
                                        @if (Model.Comments.Count != 0)
                                        {
                                            if (Model.Comments.Count == 1)
                                            {
                                                @Model.Comments.Count<span> Comment</span>
                                            }
                                            else
                                            {
                                                @Model.Comments.Count<span> Comments</span >
                                            }
                                        }
                                        else
                                        {
                                                <span>No Comments</span>
                                        }
                                    </a>
                                </p>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse"
                                 role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">

                                    <div class="row">
                                        <hr />

                                        @{
                                            // Alternate background-color of Comments display.
                                            bool commentFieldBlue = true;

                                            foreach (var comment in Model.Comments.OrderByDescending(c => c.Id))
                                            {
                                                if (commentFieldBlue)   // Comment with Blue background.
                                                {
                                                    <div style="padding:6px; background-color:rgba(30, 80, 150, 0.05); box-shadow:2px 2px 3px rgba(30,30,30,0.25)">
                                                        <p style="font-size:smaller"><span style="font-weight:bold">Posted: </span>@comment.Created: &nbsp;<span style="font-weight:bold">@comment.Author.Fullname</span> said:</p>
                                                        <p>@comment.Body</p>

                                                        @{  // Display Comment-Update information if available.
                                                            if (comment.Updated != null)
                                                            {
                                                                <div style="border:1px solid #009999; margin: 0px 10px 6px 10px; padding: 10px 10px 0px 10px">
                                                                    <p style="font-size:smaller"><span style="font-weight:bold">Edited: </span>@comment.Updated</p>
                                                                </div>
                                                            }
                                                        }

                                                        @{  // Allow Editing/Deleting Comments.
                                                            if (User.IsInRole("Admin") ||
                                                               (User.IsInRole("ProjectManager") && !Model.Project.Users.Any(u => u.Id == ViewBag.UserId)) ||
                                                               comment.AuthorId == ViewBag.UserId)
                                                            {
                                                                <div style="text-align:center">
                                                                    @Html.ActionLink("Edit Comment", "Edit", "TicketComments", new { id = comment.Id }, new { style = "color:rgb(30,80,150)" }) |
                                                                    @Html.ActionLink("Delete Comment", "Delete", "TicketComments", new { id = comment.Id }, new { style = "color:rgb(30,80,150)" })
                                                                </div>
                                                            }
                                                        }
                                                    </div>
                                                    commentFieldBlue = false;
                                            }
                                            else                    // Comment with Green background.
                                            {
                                                <div style="padding:6px; background-color:rgba(0, 153, 153, 0.05); box-shadow:2px 2px 3px rgba(30,30,30,0.25)">
                                                    <p style="font-size:smaller"><span style="font-weight:bold">Posted: </span>@comment.Created: &nbsp;<span style="font-weight:bold">@comment.Author.Fullname</span> said:</p>
                                                    <p>@comment.Body</p>

                                                    @{  // Display Comment-Update information if available.
                                                        if (comment.Updated != null)
                                                        {
                                                            <div style="border:1px solid #009999; margin: 0px 10px 6px 10px; padding: 10px 10px 0px 10px">
                                                                <p style="font-size:smaller"><span style="font-weight:bold">Edited: </span>@comment.Updated</p>
                                                            </div>
                                                        }
                                                    }

                                                    @{  // Allow Editing/Deleting Comments.
                                                        if (User.IsInRole("Admin") ||
                                                            (User.IsInRole("ProjectManager") && !Model.Project.Users.Any(u => u.Id == ViewBag.UserId)) ||
                                                            comment.AuthorId == ViewBag.UserId)
                                                        {
                                                            <div style="text-align:center">
                                                                @Html.ActionLink("Edit Comment", "Edit", "TicketComments", new { id = comment.Id }, new { style = "color:rgb(30,80,150)" }) |
                                                                @Html.ActionLink("Delete Comment", "Delete", "TicketComments", new { id = comment.Id }, new { style = "color:rgb(30,80,150)" })
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                                    commentFieldBlue = true;
                                            }
                                                <hr class="blue-small" />
                                            }
                                        }


                                        @{if (Request.IsAuthenticated)    // Confirm user is logged in before allowing Comment creation.
                                            {
                                                using (Html.BeginForm("Create", "TicketComments", new { TicketId = Model.Id }, FormMethod.Post, null))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <div>
                                                        <textarea rows="5" name="Body" style="max-width:none !important; width:100%">@ViewBag.Comment</textarea>
                                                        <button class="btn btn-primary center-block" type="submit">Submit Comment</button>
                                                    </div>
                                                }
                                            }
                                        }
                                    </div>


                                </div>
                            </div>
                        </div>

                        <!-- Attachments -->
                        <div class="panel panel-default bx-shadow-none">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <p class="panel-title" style="font-weight:500">
                                    <a class="collapsed" role="button" data-toggle="collapse"
                                       data-parent="#accordion" href="#collapseTwo"
                                       aria-expanded="false" aria-controls="collapseTwo">
                                        @if (Model.Attachments.Count != 0)
                                        {
                                            if (Model.Attachments.Count == 1)
                                            {
                                                @Model.Attachments.Count<span> Attachment</span>
                                            }
                                            else
                                            {
                                                @Model.Attachments.Count<span> Attachments</span>
                                            }
                                        }
                                        else
                                        {
                                            <span>No Attachments</span>
                                        }
                                    </a>
                                </p>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse"
                                 role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">

                                    <table id="datatable-responsive-attachments" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Date Added
                                                </th>
                                                <th>
                                                    File(s)
                                                </th>
                                                <th>
                                                    Description
                                                </th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @foreach (var file in Model.Attachments.OrderByDescending(a => a.Created))
                                            {
                                                <tr>
                                                    <td>
                                                        @file.Created
                                                    </td>
                                                    <td>
                                                        <a href="@file.FileUrl" target="_blank">@file.FileUrl</a>
                                                    </td>
                                                    <td>
                                                        @file.Description
                                                        @*@Html.ActionLink("Edit attachment", "Edit", "TicketAttachments", new { id = file.Id }, null )*@
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                    @using (Html.BeginForm("Create", "TicketAttachments", new { TicketId = Model.Id }, FormMethod.Post, new { enctype = "Multipart/form-data" }))
                                    {
                                        @Html.AntiForgeryToken()

                                        <p style="font-weight:bold">Upload attachment(s)</p>
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="control-label col-md-2">New file(s)</label>
                                                <div class="col-md-10">
                                                    <input name="attachment" type="file" class="form-control" />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-2">File description</label>
                                                <div class="col-md-10">
                                                    <textarea name="Description" class="form-control" style="max-width:none !important; width:100%"></textarea>
                                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <!-- Input/Button to submit the data. -->
                                                    <input type="submit" value="Create attachment" class="btn btn-primary" />
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                        <!-- Histories -->
                        <div class="panel panel-default bx-shadow-none">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <p class="panel-title" style="font-weight:500">
                                    <a class="collapsed" role="button" data-toggle="collapse"
                                       data-parent="#accordion" href="#collapseThree"
                                       aria-expanded="false" aria-controls="collapseThree">
                                        Ticket History
                                    </a>
                                </p>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse"
                                 role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">

                                    <ul class="nav nav-tabs nav-justified">
                                        <li role="presentation" class="active">
                                            <a href="#timeline-display" id="timeline-tab" role="tab" data-toggle="tab" aria-controls="timeline" aria-expanded="true">Timeline View</a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#table-display" role="tab" id="table-tab" data-toggle="tab" aria-controls="table">Table View</a>
                                        </li>
                                    </ul>

                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active" id="timeline-display" aria-labelledby="timeline-tab">

                                            <div class="row">
                                                <div class="col-sm-12">

                                                    <!-- Timeline's color is set in a "pre" block -->
                                                    <!-- Timeline background-color -->
                                                    <div class="timeline" style="background-color:antiquewhite">

                                                        <article class="timeline-item alt">
                                                            <div class="text-right">
                                                                <div class="time-show first">
                                                                    <a href="#" class="btn btn-custom w-lg">Latest Event</a>
                                                                </div>
                                                            </div>
                                                        </article>

                                                        <!-- -->

                                                        @foreach (var history in Model.Histories.OrderByDescending(h => h.Created))
                                                        {
                                                            <article class="timeline-item alt">
                                                                <div class="timeline-desk">
                                                                    <div class="panel" style="margin-left:30px">
                                                                        <div class="panel-body">
                                                                            <span class="arrow-alt"></span>
                                                                            <span class="timeline-icon bg-danger"><i class="zmdi zmdi-circle"></i></span>
                                                                            <h4 class="text-danger">@history.Property</h4>
                                                                            <p class="timeline-date text-muted"><small>@history.Created</small></p>
                                                                            <p style="text-align:left"><span style="font-weight:bold">Old Value: </span>@history.OldValue</p>
                                                                            <p style="margin-top:-4px !important; text-align:left"><span style="font-weight:bold">New Value: </span>@history.NewValue</p>
                                                                            <p style="text-align:left"><span style="font-weight:bold">Updated by: </span>@history.Author.Fullname</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </article>
                                                        }





                                                        <!-- -->

                                                        <article class="timeline-item alt">
                                                            <div class="timeline-desk">
                                                                <div class="panel" style="margin-left:30px">
                                                                    <div class="panel-body">
                                                                        <span class="arrow-alt"></span>
                                                                        <span class="timeline-icon bg-danger"><i class="zmdi zmdi-circle"></i></span>
                                                                        <h4 class="text-danger">1 hour ago</h4>
                                                                        <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                                        <p>Dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </article>

                                                        <article class="timeline-item ">
                                                            <div class="timeline-desk">
                                                                <div class="panel" style="margin-right:30px">
                                                                    <div class="panel-body">
                                                                        <span class="arrow"></span>
                                                                        <span class="timeline-icon bg-success"><i class="zmdi zmdi-circle"></i></span>
                                                                        <h4 class="text-success">2 hours ago</h4>
                                                                        <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                                        <p>consectetur adipisicing elit. Iusto, optio, dolorum <a href="#">John deon</a> provident rerum aut hic quasi placeat iure tempora laudantium </p>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </article>

                                                        <article class="timeline-item alt">
                                                            <div class="timeline-desk">
                                                                <div class="panel" style="margin-left:30px">
                                                                    <div class="panel-body">
                                                                        <span class="arrow-alt"></span>
                                                                        <span class="timeline-icon bg-primary"><i class="zmdi zmdi-circle"></i></span>
                                                                        <h4 class="text-primary">10 hours ago</h4>
                                                                        <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                                        <p>3 new photo Uploaded on facebook fan page</p>
                                                                        <div class="album">
                                                                            <a href="#">
                                                                                <img alt="" src="assets/images/small/img1.jpg">
                                                                            </a>
                                                                            <a href="#">
                                                                                <img alt="" src="assets/images/small/img2.jpg">
                                                                            </a>
                                                                            <a href="#">
                                                                                <img alt="" src="assets/images/small/img3.jpg">
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </article>

                                                        <article class="timeline-item">
                                                            <div class="timeline-desk">
                                                                <div class="panel" style="margin-right:30px">
                                                                    <div class="panel-body">
                                                                        <span class="arrow"></span>
                                                                        <span class="timeline-icon bg-purple"><i class="zmdi zmdi-circle"></i></span>
                                                                        <h4 class="text-purple">14 hours ago</h4>
                                                                        <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                                        <p>
                                                                            Outdoor visit at California State Route 85 with John Boltana &
                                                                            Harry Piterson regarding to setup a new show room.
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </article>

                                                        <article class="timeline-item alt">
                                                            <div class="timeline-desk">
                                                                <div class="panel" style="margin-left:30px">
                                                                    <div class="panel-body">
                                                                        <span class="arrow-alt"></span>
                                                                        <span class="timeline-icon"><i class="zmdi zmdi-circle"></i></span>
                                                                        <h4 class="text-muted">19 hours ago</h4>
                                                                        <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                                        <p>
                                                                            Jonatha Smith added new milestone <span><a href="#">Pathek</a></span>
                                                                            Lorem ipsum dolor sit amet consiquest dio
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </article>

                                                        @*<article class="timeline-item alt">
                                                            <div class="text-right">
                                                                <div class="time-show">
                                                                    <a href="#" class="btn btn-custom w-lg">Yesterday</a>
                                                                </div>
                                                            </div>
                                                        </article>*@

                                                        <article class="timeline-item">
                                                            <div class="timeline-desk">
                                                                <div class="panel" style="margin-right:30px">
                                                                    <div class="panel-body">
                                                                        <span class="arrow"></span>
                                                                        <span class="timeline-icon bg-warning"><i class="zmdi zmdi-circle"></i></span>
                                                                        <h4 class="text-warning">07 January 2016</h4>
                                                                        <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                                        <p>
                                                                            Montly Regular Medical check up at Greenland Hospital by the
                                                                            doctor <span><a href="#"> Johm meon </a></span>
                                                                        </p>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </article>

                                                        <article class="timeline-item alt">
                                                            <div class="timeline-desk">
                                                                <div class="panel" style="margin-left:30px">
                                                                    <div class="panel-body">
                                                                        <span class="arrow-alt"></span>
                                                                        <span class="timeline-icon bg-primary"><i class="zmdi zmdi-circle"></i></span>
                                                                        <h4 class="text-primary">07 January 2016</h4>
                                                                        <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                                        <p>Download the new updates of Ubold admin dashboard</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </article>

                                                        <article class="timeline-item">
                                                            <div class="timeline-desk">
                                                                <div class="panel" style="margin-right:30px">
                                                                    <div class="panel-body">
                                                                        <span class="arrow"></span>
                                                                        <span class="timeline-icon bg-success"><i class="zmdi zmdi-circle"></i></span>
                                                                        <h4 class="text-success">07 January 2016</h4>
                                                                        <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                                        <p>
                                                                            Jonatha Smith added new milestone <span><a class="blue" href="#">crishtian</a></span>
                                                                            Lorem ipsum dolor sit amet consiquest dio
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </article>

                                                        @*<article class="timeline-item alt">
                                                            <div class="text-right">
                                                                <div class="time-show">
                                                                    <a href="#" class="btn btn-custom w-lg">Last Month</a>
                                                                </div>
                                                            </div>
                                                        </article>*@

                                                        <article class="timeline-item alt">
                                                            <div class="timeline-desk">
                                                                <div class="panel" style="margin-left:30px">
                                                                    <div class="panel-body">
                                                                        <span class="arrow-alt"></span>
                                                                        <span class="timeline-icon"><i class="zmdi zmdi-circle"></i></span>
                                                                        <h4 class="text-muted">31 December 2015</h4>
                                                                        <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                                        <p>Download the new updates of Ubold admin dashboard</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </article>

                                                        <article class="timeline-item">
                                                            <div class="timeline-desk">
                                                                <div class="panel" style="margin-right:30px">
                                                                    <div class="panel-body">
                                                                        <span class="arrow"></span>
                                                                        <span class="timeline-icon bg-danger"><i class="zmdi zmdi-circle"></i></span>
                                                                        <h4 class="text-danger">16 Decembar 2015</h4>
                                                                        <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                                                        <p>
                                                                            Jonatha Smith added new milestone <span><a href="#">prank</a></span>
                                                                            Lorem ipsum dolor sit amet consiquest dio
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </article>


                                                    </div>
                                                </div>
                                            </div>


                                            <p>
                                                Raw denim you probably haven't heard
                                                @*of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro
                                                synth master cleanse. Mustache cliche tempor, williamsburg carles
                                                vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher
                                                synth. Cosby sweater eu banh mi, qui irure terry richardson ex
                                                squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis
                                                cardigan american apparel, butcher voluptate nisi qui.*@
                                            </p>

                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="table-display" aria-labelledby="table-tab">
                                            <p>
                                                Food truck fixie locavore,
                                                accusamus mcsweeney's marfa nulla single-origin coffee squid.
                                                Exercitation +1 labore velit, blog sartorial PBR leggings next level
                                                wes anderson artisan four loko farm-to-table craft beer twee. Qui
                                                photo booth letterpress, commodo enim craft beer mlkshk aliquip jean
                                                shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda
                                                labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia
                                                yr, vero magna velit sapiente labore stumptown. Vegan fanny pack
                                                odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY
                                                ethical culpa terry richardson biodiesel. Art party scenester
                                                stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed
                                                echo park.
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div><!-- end panel group -->
                </div><!-- end row -->

            </div><!-- card-box table-responsive -->
        </div><!-- end col -->
    </div><!-- end row -->
</div>




<!-- Attachments -->
<hr />
<hr />
<p style="color:red">Attachments here...</p>
@*@if (Model.Attachments.Count != 0)
    {
        if (Model.Attachments.Count == 1)
        {
            <p style="color:#009999">@Model.Attachments.Count attachment.</p>
        }
        else
        {
            <p style="color:#009999">@Model.Attachments.Count attachments.</p>    }
    }
    else
    {
        <p style="color:#009999">No attachments.</p>
    }*@


<table id="datatable-responsive-attachments" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                Date Added
            </th>
            <th>
                File(s)
            </th>
            <th>
                Description
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var file in Model.Attachments.OrderByDescending(a => a.Created))
        {
            <tr>
                <td>
                    @file.Created
                </td>
                <td>
                    <a href="@file.FileUrl" target="_blank">@file.FileUrl</a>
                </td>
                <td>
                    @file.Description
                    @*@Html.ActionLink("Edit attachment", "Edit", "TicketAttachments", new { id = file.Id }, null )*@
                </td>
            </tr>
        }
    </tbody>
</table>


@*<div class="row">*@

@*@{
        foreach (var file in Model.Attachments.OrderByDescending(a => a.Created))
        {
            <div>
                <a href="@file.FileUrl" target="_blank">@file.FileUrl</a>
                <p style="margin-bottom:0px">@file.Description</p>
            </div>
            <br />
        }
    }*@

@using (Html.BeginForm("Create", "TicketAttachments", new { TicketId = Model.Id }, FormMethod.Post, new { enctype = "Multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <p style="font-weight:bold">Upload attachment(s)</p>
    <div class="row">
        <div class="form-group">
            <label class="control-label col-md-2">New file(s)</label>
            <div class="col-md-10">
                <input name="attachment" type="file" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">File description</label>
            <div class="col-md-10">
                <textarea name="Description" class="form-control" style="max-width:none !important; width:100%"></textarea>
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                @*<input id="editor" class="form-control" name="Description" rows="1">*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <!-- Input/Button to submit the data. -->
                <input type="submit" value="Create attachment" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
@*</div>*@


<!-- Comments -->
<hr />
<p style="color:red">Comments here...</p>
@*@if (Model.Comments.Count != 0)
    {
        if (Model.Comments.Count == 1)
        {
            <p style="color:#009999">@Model.Comments.Count comment.</p>
        }
        else
        {
            <p style="color:#009999">@Model.Comments.Count comments.</p>
        }
    }
    else
    {
        <p style="color:#009999">No Comments.</p>
    }*@

<div class="row">
    @{
        // Alternate background-color of Comments display.
        bool commentFieldBlue1 = true;
        foreach (var comment in Model.Comments.OrderByDescending(c => c.Id))
        {
            if (commentFieldBlue)   // Comment with Blue background.
            {
                <div style="padding:6px; background-color:rgba(30, 80, 150, 0.05); box-shadow:2px 2px 3px rgba(30,30,30,0.25)">
                    <p style="font-size:smaller"><span style="font-weight:bold">Posted: </span>@comment.Created: &nbsp;<span style="font-weight:bold">@comment.Author.Fullname</span> said:</p>
                    <p>@comment.Body</p>

                    @{  // Display Comment-Update information if available.
                        if (comment.Updated != null)
                        {
                            <div style="border:1px solid #009999; margin: 0px 10px 6px 10px; padding: 10px 10px 0px 10px">
                                <p style="font-size:smaller"><span style="font-weight:bold">Edited: </span>@comment.Updated</p>
                                @*<p style="font-size:smaller; margin-top:-18px"><span style="font-weight:bold">Reason: </span>@comment.UpdateReason</p>*@
                            </div>
                        }
                    }

                    @{  // Allow Editing/Deleting Comments.
                        if (User.IsInRole("Admin") ||
                           (User.IsInRole("ProjectManager") && !Model.Project.Users.Any(u => u.Id == ViewBag.UserId)) ||
                           comment.AuthorId == ViewBag.UserId)
                        {
                            <div style="text-align:center">
                                @Html.ActionLink("Edit Comment", "Edit", "TicketComments", new { id = comment.Id }, new { style = "color:rgb(30,80,150)" }) |
                                @Html.ActionLink("Delete Comment", "Delete", "TicketComments", new { id = comment.Id }, new { style = "color:rgb(30,80,150)" })
                            </div>
                        }
                    }
                </div>
                            commentFieldBlue1 = false;
                        }
                        else                    // Comment with Green background.
                        {
                            <div style="padding:6px; background-color:rgba(0, 153, 153, 0.05); box-shadow:2px 2px 3px rgba(30,30,30,0.25)">
                                <p style="font-size:smaller"><span style="font-weight:bold">Posted: </span>@comment.Created: &nbsp;<span style="font-weight:bold">@comment.Author.Fullname</span> said:</p>
                                <p>@comment.Body</p>

                                @{  // Display Comment-Update information if available.
                                    if (comment.Updated != null)
                                    //if (comment.Updated != null && comment.UpdateReason != null)
                                    {
                                        <div style="border:1px solid #009999; margin: 0px 10px 6px 10px; padding: 10px 10px 0px 10px">
                                            <p style="font-size:smaller"><span style="font-weight:bold">Edited: </span>@comment.Updated</p>
                                            @*<p style="font-size:smaller; margin-top:-18px"><span style="font-weight:bold">Reason: </span>@comment.UpdateReason</p>*@
                                        </div>
                                    }
                                }

                                @{  // Allow Editing/Deleting Comments.
                                    if (User.IsInRole("Admin") ||
                                        (User.IsInRole("ProjectManager") && !Model.Project.Users.Any(u => u.Id == ViewBag.UserId)) ||
                                        comment.AuthorId == ViewBag.UserId)
                                    {
                                        <div style="text-align:center">
                                            @Html.ActionLink("Edit Comment", "Edit", "TicketComments", new { id = comment.Id }, new { style = "color:rgb(30,80,150)" }) |
                                            @Html.ActionLink("Delete Comment", "Delete", "TicketComments", new { id = comment.Id }, new { style = "color:rgb(30,80,150)" })
                                        </div>
                                    }
                                }
                            </div>
                                        commentFieldBlue1 = true;
                                    }
                                    <hr class="blue-small" />
                                    }
    }


    @{if (Request.IsAuthenticated)    // Confirm user is logged in before allowing Comment creation.
        {
            using (Html.BeginForm("Create", "TicketComments", new { TicketId = Model.Id }, FormMethod.Post, null))
            {
                @Html.AntiForgeryToken()
                <div>
                    <textarea rows="5" name="Body" style="max-width:none !important; width:100%">@ViewBag.Comment</textarea>
                    @*<input name="Body" type="text" placeholder="Leave a Comment" value="@ViewBag.Comment" />*@
                    <button class="btn btn-primary center-block" type="submit">Submit Comment</button>
                </div>
            }
        }
    }
</div>


<!-- Historical transactions -->
<hr />
<hr />
<p style="color:red">Historical transactions here...</p>
@*@if (Model.Histories.Count != 0)
    {
        if (Model.Histories.Count == 1)
        {
            <p style="color:#009999">@Model.Histories.Count transaction.</p>
        }
        else
        {
            <p style="color:#009999">@Model.Histories.Count transactions.</p>
        }
    }
    else
    {
        <p style="color:#009999">No transactions.</p>
    }*@

<table id="datatable-responsive-histories" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Created</th>
            <th>Property</th>
            <th>OldValue</th>
            <th>NewValue</th>
            <th>AuthorId</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var history in Model.Histories.OrderByDescending(h => h.Created))
        {
            <tr>
                <td>
                    @history.Created
                </td>
                <td>
                    @history.Property
                </td>
                <td>
                    @history.OldValue
                </td>
                <td>
                    @history.NewValue
                </td>
                <td>
                    @history.Author.Fullname
                </td>
            </tr>
        }
    </tbody>
</table>


            </div>
        </div>
    </div>
</div>



<p>
    @Html.ActionLink("Edit Ticket", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Return to Tickets", "Index")
</p>



@section scripts
{
    <!-- Datatables-->
    <script src="~/Assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/Assets/plugins/datatables/buttons.bootstrap.min.js"></script>
    <script src="~/Assets/plugins/datatables/jszip.min.js"></script>
    <script src="~/Assets/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/Assets/plugins/datatables/vfs_fonts.js"></script>
    <script src="~/Assets/plugins/datatables/buttons.html5.min.js"></script>
    <script src="~/Assets/plugins/datatables/buttons.print.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.fixedHeader.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.keyTable.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="~/Assets/plugins/datatables/responsive.bootstrap.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.scroller.min.js"></script>

    <!-- Datatable init js -->
    <script src="~/Assets/pages/datatables.init.js"></script>



    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').dataTable();
            $('#datatable-keytable').DataTable({ keys: true });
            $('#datatable-responsive-attachments').DataTable();
            $('#datatable-responsive-comments').DataTable();
            $('#datatable-responsive-histories').DataTable();
            $('#datatable-scroller').DataTable({ ajax: "~/Assets/plugins/datatables/json/scroller-demo.json", deferRender: true, scrollY: 380, scrollCollapse: true, scroller: true });
            var table = $('#datatable-fixed-header').DataTable({ fixedHeader: true });
        });
        TableManageButtons.init();
    </script>
}




<!--

                    <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box">

                            <div class="dropdown pull-right">
                                <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                    <i class="zmdi zmdi-more-vert"></i>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>

                            <h4 class="header-title m-t-0 m-b-30">Accordions</h4>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="p-b-10">
                                        <p><a class="btn btn-primary waves-effect waves-light" role="button" data-toggle="collapse"
                                              href="#collapseExample" aria-expanded="false"
                                              aria-controls="collapseExample"> Link with href </a>
                                            <button class="btn btn-primary waves-effect waves-light" type="button" data-toggle="collapse"
                                                    data-target="#collapseExample" aria-expanded="false"
                                                    aria-controls="collapseExample"> Button with data-target
                                            </button>
                                        </p>
                                        <div class="collapse in" id="collapseExample">
                                            <div class="well"> Anim pariatur cliche reprehenderit, enim eiusmod
                                                high life accusamus terry richardson ad squid. Nihil anim
                                                keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                                                sapiente ea proident.
                                            </div>
                                        </div>
                                    </div>
                                </div>
// end col


                                <div class="col-lg-6">
                                    <div class="panel-group" id="accordion" role="tablist"
                                         aria-multiselectable="true">
                                        <div class="panel panel-default bx-shadow-none">
                                            <div class="panel-heading" role="tab" id="headingOne">
                                                <h4 class="panel-title">
                                                    <a role="button" data-toggle="collapse"
                                                       data-parent="#accordion" href="#collapseOne"
                                                       aria-expanded="true" aria-controls="collapseOne">
                                                        Collapsible Group Item #1
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse in"
                                                 role="tabpanel" aria-labelledby="headingOne">
                                                <div class="panel-body">
                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                                    aute, non cupidatat skateboard dolor brunch. Food truck
                                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                                    sunt aliqua put a bird on it squid single-origin coffee
                                                    nulla assumenda shoreditch et. Nihil anim keffiyeh
                                                    helvetica, craft beer labore wes anderson cred nesciunt
                                                    sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                                    Leggings occaecat craft beer farm-to-table, raw denim
                                                    aesthetic synth nesciunt you probably haven't heard of them
                                                    accusamus labore sustainable VHS.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default bx-shadow-none">
                                            <div class="panel-heading" role="tab" id="headingTwo">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse"
                                                       data-parent="#accordion" href="#collapseTwo"
                                                       aria-expanded="false" aria-controls="collapseTwo">
                                                        Collapsible Group Item #2
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse"
                                                 role="tabpanel" aria-labelledby="headingTwo">
                                                <div class="panel-body">
                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                                    aute, non cupidatat skateboard dolor brunch. Food truck
                                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                                    sunt aliqua put a bird on it squid single-origin coffee
                                                    nulla assumenda shoreditch et. Nihil anim keffiyeh
                                                    helvetica, craft beer labore wes anderson cred nesciunt
                                                    sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                                    Leggings occaecat craft beer farm-to-table, raw denim
                                                    aesthetic synth nesciunt you probably haven't heard of them
                                                    accusamus labore sustainable VHS.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default bx-shadow-none">
                                            <div class="panel-heading" role="tab" id="headingThree">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse"
                                                       data-parent="#accordion" href="#collapseThree"
                                                       aria-expanded="false" aria-controls="collapseThree">
                                                        Collapsible Group Item #3
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse"
                                                 role="tabpanel" aria-labelledby="headingThree">
                                                <div class="panel-body">
                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                                    aute, non cupidatat skateboard dolor brunch. Food truck
                                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                                    sunt aliqua put a bird on it squid single-origin coffee
                                                    nulla assumenda shoreditch et. Nihil anim keffiyeh
                                                    helvetica, craft beer labore wes anderson cred nesciunt
                                                    sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                                    Leggings occaecat craft beer farm-to-table, raw denim
                                                    aesthetic synth nesciunt you probably haven't heard of them
                                                    accusamus labore sustainable VHS.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
// end col

                            </div>
// end row

                        </div>
                    </div>
// end col
                </div>
// end row

-->
